<div class="project-details">
    <h3>Project Details</h3>
    <div *ngIf="project$ | async as project">
        <p>Project Name: {{ project.name }}</p>
        <p>Project Description: {{ project.description }}</p>
        <p>Logo: {{ project.image }}</p>
        <div class="subprojects">
            <span>Subprojects:</span>
            <app-project-card *ngFor="let subProjectId of project.subProjectIds" [projectId]="subProjectId">
            </app-project-card>
        </div>
    </div>
</div>